<div class="row hidden-print">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Venta de productos</h2>
                <div class="nav navbar-right panel_toolbox">
                    <input id="quantityadd" type="text" class="form-control" placeholder="Cantidad" ngfocus ng-model="quantityadd" validate="number"
                        required>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="bs-glyphicons">
                    <ul class="bs-glyphicons-list">
                        <li data-ng-repeat="item in listitem" ng-click="selecteditem(item)">
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                            <span class="glyphicon-class">{{item.name}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Items para facturar</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div>
                    <table class="table table-striped jambo_table bulk_action">
                        <thead class="headings">
                            <tr>
                                <th>Item</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Sub-Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sale in listsale" ng-class="{selectelement:saledetailselected.id==listsale.id}">
                                <td>{{sale.name}}</td>
                                <td>{{sale.quantity}}</td>
                                <td>{{sale.price}}</td>
                                <td>{{sale.price * sale.quantity}}</td>
                                <td ng-click="deletesaledetail(sale)"><i class="fa fa-trash" title="Eliminar"></i></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>{{sumTotal}}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <form class="form-horizontal form-label-left">

                    <label for="dateregister">Fecha <span class="required">*</span></label>
                    <div class="form-group has-feedback">
                        <input type="text" id="dateregister" class="form-control has-feedback-left active" ngfocus ng-model="headersale.dateregister"
                            validate="date" required data-inputmask="'mask': '99/99/9999'" aria-describedby="inputSuccess2Status">
                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div>

                    <label for="numbernitinvoice">Nro de NIT <span class="required">*</span></label>
                    <input type="text" id="numbernitinvoice" class="form-control" ngfocus ng-model="headersale.numbernitinvoice" validate="number"
                        required>

                    <label for="nameinvoice">Nombre para la factura <span class="required">*</span></label>
                    <input type="text" id="nameinvoice" class="form-control textUpperCase" ngfocus ng-model="headersale.nameinvoice" validate="text-number"
                        required>

                    <div class="ln_solid"></div>
                    <div>
                        <button type="button" class="btn btn-primary" ng-disabled="validatecontrols()" ng-click="savesale()" title="Facturar"><i class="fa fa-credit-card"></i> Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div style="width: 265px; font-size: 11px;" id="invoice-file">
<p style="text-align: center"><b>{{datainvoice.titleCompany}}</b></p>
<p style="text-align: center">{{datainvoice.titleOffice}}<br /> {{datainvoice.addressOffice}} Telf: {{datainvoice.phoneOffice}}<br /> {{datainvoice.detailOffice}}</p>
<p style="text-align: center">------------------------------------------------------------</p>
<p style="text-align: center">FACTURA ORIGINAL</p>
<p style="text-align: center">------------------------------------------------------------</p>
<p style="text-align: center">NIT: {{datainvoice.numberidCompany}}<br /> FACTURA Nro: {{datainvoice.numberInvoice}}<br /> AUTORIZACION: {{datainvoice.numberorderInvoice}}</p>
<p style="text-align: center">------------------------------------------------------------</p>
<p style="text-align: center">FECHA: {{datainvoice.dateInvoice}}<br /> SENOR(es): {{datainvoice.nameInvoice}}<br /> NIT/CI: {{datainvoice.numbernitInvoice}}</p>

<table class="table">
    <thead>
        <tr>
            <th style="text-align: center">CANT.</th>
<th style="text-align: center">DESCRIPCION</th>
<th style="text-align: center">PRECIO</th>
<th style="text-align: center">TOTAL</th>
</tr>
</thead>
<tbody>
    <tr ng-repeat="detail in detailinvoice">
        <td>{{detail.quantity}}</td>
        <td>{{detail.Item.name}}</td>
        <td>{{detail.price}}</td>
        <td>{{detail.price * detail.quantity}}</td>
    </tr>
</tbody>
<tfoot>
    <td></td>
    <td></td>
    <td>TOTAL Bs</td>
    <td>{{datainvoice.total}}</td>
</tfoot>
</table>
<p>Son: {{datainvoice.totalliteral}}</p>
<p style="text-align: center">------------------------------------------------------------</p>
<p>CÓDIGO DE CONTROL: {{datainvoice.codecontrolInvoice}}</p>
<p>FECHA LIMITE DE EMISION {{datainvoice.deadline}}</p>
<p><label id="qrinvoice"></label></p>

<p style="text-align: center">{{datainvoice.noteCompany}}</p>

<p style="text-align: center">------------------------------------------------------------
<br /> GRACIAS POR SU PREFERENCIA</p>
<p style="text-align: center">------------------------------------------------------------</p>

</div>
<style>
	@media print {
		label {
			display: block;
			margin: 5px 0;
		}
		.sale {
			padding-top: 10px;
		}
		#invoice-file {
			font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-style: normal;
			width: 100% !important;
			font-size: 14px !important;
			text-align: center;
			display: block !important;
		}
		#invoice-file div {
			border-bottom: solid #BBB 1px;
		}
		#invoice-file .footer {
			border-bottom: none;
		}
	}
</style>